<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- Permissions for Reminders & Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timed">

<!--        <service-->
<!--            android:name=".services.MyFirebaseMessagingService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <activity android:name=".Setting.SyncStorage.SyncStorageActivity" android:exported="false" />
        <activity android:name=".Setting.Timezone.TimezoneSettingActivity" android:exported="false" />
        <activity android:name=".Features.AI.AiSchedulingActivity" android:exported="false" />
        <activity android:name=".Features.Analytics.AnalyticsActivity" android:exported="false" />
        <activity android:name=".Features.ConflictResolver.ConflictResolverActivity" android:exported="false" />
        <activity android:name=".Features.FocusMode.FocusModeActivity" android:exported="false" />
        <activity android:name=".Features.FreeSlotFinder.FreeSlotFinderActivity" android:exported="false" />
        <activity android:name=".Features.HabitTracker.HabitTrackerActivity" android:exported="false" />
        <activity android:name=".Setting.Security.SecurityActivity" android:exported="false" />
        <activity android:name=".Setting.Themes.ThemeActivity" android:exported="false" />

        <activity
            android:name=".Auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Auth.RegisterActivity" />

        <activity android:name=".Auth.ForgotPasswordActivity" />

        <activity android:name=".Auth.EmailVerificationActivity" />

        <activity android:name=".activities.ProfileActivity" />

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.DayViewActivity" />
        <activity android:name=".activities.SearchFilterActivity" />
        <activity android:name=".activities.CreateEventActivity" />
        <activity android:name=".activities.ImportExportActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.FeaturesActivity" />
        <activity android:name=".activities.CreateTaskActivity" android:exported="false" />
        <activity android:name=".activities.TasksListActivity" android:exported="false" />

        <!-- Receiver for Event Reminders & Notifications -->
        <receiver
            android:name=".services.EventNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.timed.EVENT_REMINDER" />
                <action android:name="com.timed.EVENT_ACCEPT" />
                <action android:name="com.timed.EVENT_DECLINE" />
                <action android:name="ACTION_SHOW_TASK_NOTIFICATION" />
                <action android:name="ACTION_TASK_DONE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>