<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for Reminders & Notifications -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timed">

        <activity android:name=".Setting.Main.SettingActivity" android:exported="false" />
        <activity android:name=".Setting.SyncStorage.SyncStorageActivity" android:exported="false" />
        <activity android:name=".Setting.Timezone.TimezoneSettingActivity" android:exported="false" />
        <activity android:name=".Setting.AI.AiSchedulingActivity" android:exported="false" />
        <activity android:name=".Setting.Analytics.AnalyticsActivity" android:exported="false" />
        <activity android:name=".Setting.ConflictResolver.ConflictResolverActivity" android:exported="false" />
        <activity android:name=".Setting.FocusMode.FocusModeActivity" android:exported="false" />
        <activity android:name=".Setting.FreeSlotFinder.FreeSlotFinderActivity" android:exported="false" />
        <activity android:name=".Setting.HabitTracker.HabitTrackerActivity" android:exported="false" />
        <activity android:name=".Setting.Security.SecurityActivity" android:exported="false" />
        <activity android:name=".Setting.Themes.ThemeActivity" android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DayViewActivity" />

        <!-- Receiver for Reminders & Notifications -->
        <receiver
            android:name="com.timed.services.ReminderNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.timed.REMINDER_NOTIFICATION" />
                <action android:name="com.timed.REMINDER_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- Receiver for Event Reminders & Notifications -->
        <receiver
            android:name="com.timed.services.EventNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.timed.EVENT_REMINDER" />
                <action android:name="com.timed.EVENT_ACCEPT" />
                <action android:name="com.timed.EVENT_DECLINE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>